.App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}


.main {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: calc(100% - 100px);
  color: white;
  background-color: #D9D9D9;
}

.logout-button {
  display: inline !important;
  width: 100px;
  height: 27px;
  margin-top: 2em;
  background-color: #007DC5;
  color: #FFFFFF !important;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
}


.title {

  font-family: 'Calibri';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  align-items: center;
  text-align: center;

  color: #000000;
}


/* LOGIN */

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 100px);
  padding-top: 100px;
  background-color: #FFFFFF;
}

.maincontai {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 200px);
  padding-top: 100px;
  background-color: #D9D9D9;
}

.EmpsInnerCointain {
  display: flex;

  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 15px;
  background: #FFFFFF;
  height: 85%;
  width: 95%;
  padding: 5px;
  margin: 5px;
  overflow-y: auto;
}

.EmpsInner {
  display: flex;
  margin-left: 79px;
  align-self: flex-start;
}

.EmpsIn {
  width: 85vw;

  border-bottom: 1px solid #D9D9D9;
}

tr.border-bottom-head {
  /* background-color: #000000; */
  background: rgba(228, 228, 228, 0.63);
  margin-left: 2px;
  border-bottom: 1px solid #D9D9D9;
  align-self: start;

}

tr.border-bottom {
  /* background-color: #000000; */
  border-bottom: 1px solid #D9D9D9;
}

td,
th {
  padding: 10px;
  text-align: left;

}

th {
  border: 5px solid white;
}

.icon-edit {
  height: 23px;
  width: 23px;
}

.icon-view {
  height: 25px;
  width: 25px;
}

table {
  border-collapse: collapse;
}

h3 {
  color: #000;
}

.inputLabel {
  width: 307px;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.4);

}

.labelForgotPassword {
  width: 307px;
  margin: top 1em;
  ;
  text-align: right;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.4);
}

td,
tr,
li,
h1 {
  color: #000;
}

li {
  list-style: none;
}


.inputTextbox {
  width: 290px;
  height: 32px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 10px;
}

::placeholder {
  color: #D9D9D9;
}

.buttonLogin {
  width: 150px;
  height: 40px;
  margin-top: 2em;
  background-color: #007DC5;
  color: #FFFFFF;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
}

.buttonNewEmp {
  /* width: 150px; */
  height: 35px;
  background-color: #007DC5;
  color: #FFFFFF;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-self: center;
  text-align: center;
  justify-self: center;
  position: absolute;
  float: right;
  left: 85%;
}

.labelLoginErrorMessage {
  color: Red;
  margin-top: 1em;
}

.wrapper {
  position: relative;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  padding: 4px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 280px;
  transform: translateY(-50%);
  color: #000
}

.input {
  height: 50px;
  width: 290px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 30px;
  background-color: #afc14b;
}

label {
  color: #000;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.oneEmpViewmain {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 200px);
  /* padding-top: 100px; */
  background-color: #D9D9D9;
}

.oneEmpView,
oneEmpEdit {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 94%;
  height: 85%;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 15px;
  background: #FFFFFF;
  height: 85%;
  width: 95%;
  padding: 5px;
  margin: 5px;
}

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  /* width: 100vw; */
  /* top:100px; */
  /* height: 50vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  height: 50%;
  padding: 20px;
  /* border: 5px solid dodgerblue; */
  border-radius: 5px;
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: red;
}